:root{
    font-family: 'Roboto';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#15233d;
    color: #333;
}

.logo{
    font-family: 'Abel';
    position: relative;
}

.container{
    display: flex;
    width: 85%;
    height: 50%;
    background-color: aliceblue;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-flow: column;
    background-image: url(../images/masaaki-komori-octopus.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    color:aliceblue;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
    display: flex;
    gap: 3rem;
}

.input{
    display: flex;
    flex-flow: column wrap;
}
