:root{
    font-family: 'Roboto';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#15233d;
    color: #333;
}

.logo{
    font-family: 'Abel';
    position: relative;
}

.container{
    display: flex;
    width: 85%;
    height: 50%;
    background-color: aliceblue;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-flow: column;
    background-image: url(https://images.unsplash.com/photo-1523486230352-65ff5222cea4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    color:aliceblue;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
    display: flex;
    gap: 3rem;
}

.input{
    display: flex;
    flex-flow: column wrap;
}
